<nav class="navbar fixed-bottom navbar-light bg-secondary">
    <div class="container-fluid">
        <!-- Footer -->
        <footer class="page-footer font-small blue">

            <!-- Copyright -->
            <div class="footer-copyright text-center">
                <p>© 2021 Copyright:
                    <a href=""> Morgan NOTT</a></p>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </div>
</nav>

